[submodule "AriaQuery"]
path = AriaQuery
url = ssh://git@github.com/CodeEditorLand/AriaQuery.git
[submodule "BenchJavaScriptLinter"]
path = BenchJavaScriptLinter
url = ssh://git@github.com/CodeEditorLand/BenchJavaScriptLinter.git
[submodule "BenchJavaScriptParserWrittenInRust"]
path = BenchJavaScriptParserWrittenInRust
url = ssh://git@github.com/CodeEditorLand/BenchJavaScriptParserWrittenInRust.git
[submodule "BenchMarkFiles"]
path = BenchMarkFiles
url = ssh://git@github.com/CodeEditorLand/BenchMarkFiles.git
[submodule "BenchNodeJSResolver"]
path = BenchNodeJSResolver
url = ssh://git@github.com/CodeEditorLand/BenchNodeJSResolver.git
[submodule "EslintPluginOxlint"]
path = EslintPluginOxlint
url = ssh://git@github.com/CodeEditorLand/EslintPluginOxlint.git
[submodule "JavaScriptParserInRust"]
path = JavaScriptParserInRust
url = ssh://git@github.com/CodeEditorLand/JavaScriptParserInRust.git
[submodule "JsonStripComments"]
path = JsonStripComments
url = ssh://git@github.com/CodeEditorLand/JsonStripComments.git
[submodule "MirrorsOxlint"]
path = MirrorsOxlint
url = ssh://git@github.com/CodeEditorLand/MirrorsOxlint.git
[submodule "OXC"]
path = OXC
url = ssh://git@github.com/CodeEditorLand/OXC.git
[submodule "OXCAssets"]
path = OXCAssets
url = ssh://git@github.com/CodeEditorLand/OXCAssets.git
[submodule "OXCFuzzParser"]
path = OXCFuzzParser
url = ssh://git@github.com/CodeEditorLand/OXCFuzzParser.git
[submodule "OXCIntellijPlugin"]
path = OXCIntellijPlugin
url = ssh://git@github.com/CodeEditorLand/OXCIntellijPlugin.git
[submodule "UniCodeID"]
path = UniCodeID
url = ssh://git@github.com/CodeEditorLand/UniCodeID.git
[submodule "UniCodeIDStart"]
path = UniCodeIDStart
url = ssh://git@github.com/CodeEditorLand/UniCodeIDStart.git
