[submodule "aria-query"]
	path = aria-query
	url = ssh://git@github.com/CodeEditorLand/aria-query.git
[submodule "bench-javascript-linter"]
	path = bench-javascript-linter
	url = ssh://git@github.com/CodeEditorLand/bench-javascript-linter.git
[submodule "bench-javascript-parser-written-in-rust"]
	path = bench-javascript-parser-written-in-rust
	url = ssh://git@github.com/CodeEditorLand/bench-javascript-parser-written-in-rust.git
[submodule "benchmark-files"]
	path = benchmark-files
	url = ssh://git@github.com/CodeEditorLand/benchmark-files.git
[submodule "bench-nodejs-resolver"]
	path = bench-nodejs-resolver
	url = ssh://git@github.com/CodeEditorLand/bench-nodejs-resolver.git
[submodule "eslint-plugin-oxlint"]
	path = eslint-plugin-oxlint
	url = ssh://git@github.com/CodeEditorLand/eslint-plugin-oxlint.git
[submodule "javascript-parser-in-rust"]
	path = javascript-parser-in-rust
	url = ssh://git@github.com/CodeEditorLand/javascript-parser-in-rust.git
[submodule "json-strip-comments"]
	path = json-strip-comments
	url = ssh://git@github.com/CodeEditorLand/json-strip-comments.git
[submodule "mirrors-oxlint"]
	path = mirrors-oxlint
	url = ssh://git@github.com/CodeEditorLand/mirrors-oxlint.git
[submodule "oxc"]
	path = oxc
	url = ssh://git@github.com/CodeEditorLand/oxc.git
[submodule "oxc-fuzz-parser"]
	path = oxc-fuzz-parser
	url = ssh://git@github.com/CodeEditorLand/oxc-fuzz-parser.git
[submodule "oxc-intellij-plugin"]
	path = oxc-intellij-plugin
	url = ssh://git@github.com/CodeEditorLand/oxc-intellij-plugin.git
[submodule "oxc-resolver"]
	path = oxc-resolver
	url = ssh://git@github.com/CodeEditorLand/oxc-resolver.git
[submodule "unicode-id-start"]
	path = unicode-id-start
	url = ssh://git@github.com/CodeEditorLand/unicode-id-start.git
